<!DOCTYPE html>
<html>
<head>
  <title>Miami</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "Contact Us", contact_path %></li>
            <li><a class="active" href="/events/index">Events Calendar</a></li>
            <li><a class="active" href="/events/index">Peppa's Stock Advice</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div><!-- /.container-fluid -->
</nav>




<%= yield %>

</body>
</html>
